#account-dropdown-btn {
    position: relative;
	padding: 7px 9px;
}

#dd-icon {
    color: #ECF3FF;
    font-size: 40px;
    margin-right: 20px;
    margin-left: 20px;
}

#dd-icon:hover {
    color: #AAC9FF;
}

#user-profile-button >i {
    color: #ccd0d5;;
}
.account-dropdown-thumbnail {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

// #user-profile-button >p {
//     font-size: 8px;
//     color:#ccd0d5;;
// }

#account-dropdown-btn:hover .account-dropdown {
    display: block;
}

.account-dropdown {
    position: absolute;
	display: none;
	top: 54px;
	right: 10px;
	background-color: #fff;
	border: 1px solid #ccd0d5;
	border-radius: 3px;
	padding: 10px;
	width: 360px;
    height: max-content;
	z-index: 1;
	color: #050505;;
	font-family: arial;
	text-align: left;
    text-indent: 4px;
    box-shadow: 3px 3px 10px 1px #ccd0d5;
	// box-shadow: -1px 4px 6px 1px rgba(0,0,0,0.09);
    cursor: pointer;

    i {
        color: #ccd0d5;
        font-size: 36px;
    }
}

.profile-link,
.feedback {
    border-bottom: 1px solid #f0f2f5;
	border-radius: 3px;
    display: grid;
    grid-template-columns: 10% 90%;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-top: 6px;
    padding-bottom: 6px;

    div {
        margin-top: 12px;
        h3 {
            // font-size: 18px;
            margin-bottom: 4px;
            font-weight: normal;
        }
        p {
            // font-size: 10px;
            color: #65676b;
            margin-bottom: 6px;
            font-weight: lighter;
        }
    }	
    
}

.feedback {
    height: 60px;
    margin-top: 4px;
    margin-bottom: 4px;
    div {
        text-indent: 26px;
    }
    h3 {
        font-size: 15px;
    }
    p {
        font-size: 13px;
    }
    i {
        margin-top: 8px;
    }
}
.profile-link {
    
    height: 68 px;
    margin-top: 4px;
    margin-bottom: 4px;
    div {
        text-indent: 32px;
    }
    h3 {
        font-size: 17px;
    }
    p {
        font-size: 15px;
    }
    i {
        font-size: 60px;
    }
}

.profile-link:hover,
.feedback:hover {
    background-color:  #f0f2f5;
}

.account-dd-choices {
    display: block;
}

.account-dd-item {
    display: grid;
        border-radius: 3px;
        display: grid;
        height: 48px;
        grid-template-columns: 10% 80% 10%;
        padding-top: 4px;
        padding-bottom: 4px;
        margin-top: 2px;
        margin-bottom: 2px;
        font-size: 15px;
        div {
            margin-top: 12px;
            text-indent: 14px;
        }
        

}

.account-dd-item:hover {
    background-color:  #f0f2f5;
}

.fas fa-chevron-right {
    color: #65676b
}
