.comment-form {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: row;
    input[type="text"] {
        width: 100%;
        margin-left: 8px;
        border: none;
        outline: none;
        background-color: #f0f2f5; 
        border-radius: 16px;
        text-indent: 8px;
        height: 36px;

    }
}

.thumbnail-comment {
    width: 34px;
    height: 34px;
    border-radius: 100%;
    cursor: pointer;
}
.like-comment-count {
    margin-right: 16px;
    margin-left: 16px;
    // margin-bottom: 8px;
    height: 42px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-bottom: 1px solid #ccced2;
}
.number-comments {
    color: #66686c;
    font-weight: lighter;
    font-size: 15px;
    margin-top: 10px;
}
.post-comment-div {
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
}
.post-comment-li {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
}
.post-comment-gray {
    margin-left: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    background-color: #f0f2f5; 
    border-radius: 16px; 
    .post-comment-name {
        font-weight: 600;
        cursor: pointer;
        margin-left: 8px;
        margin-right: 8px;
    }
    .post-comment-body {
        font-weight: 10;
        margin-top: 4px;
        margin-left: 8px;
        margin-right: 8px;
    }
}
