.login-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #f0f2f5;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 25%;
    font-family: arial;
}

.col-1,
.col-2 {
    height: 100%;
    width: 100%;
    background-color: #f0f2f5;
    justify-content: center;
    display: flex;
}



.fb-greeting {
    justify-content: center;   
    width: 396 px;
    height: min-content;
    display: block;
    margin-top: 40px;
  
}

.fb-greeting h1 {
    font-size: 60px;
    font-stretch: ultra-condensed;
    color: #1c8ef1;
    display: block;
    width: 396px;
}

.fb-greeting p {
    font-size: 24px;
    display: block;
    width: 396px;

}

.login-form-container {
    border-radius: 6px;
    width: 396px;
    height: min-content;
    background-color: white;
    display: block;
    position: relative;
    border: 2px, solid, #65676b;
    box-shadow: 3px 3px 10px 1px #ccd0d5;
    padding: 10px;
    justify-content: center;
}

.login-form-box {
    display: block;
    border-width: 396px;
    justify-content: center;
    margin-left: 12px;
    margin-top: 12px;
}

.login-button,
.signup-button {
    color: white; 
    border-radius: 6px;
    font-size: 16px;
    justify-content: center;
    padding: 6px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    border: none;
    line-height: 48 px;
    cursor: pointer;
    
}

.login-button {
    background-color:  #1c8ef1;
    width: 364px;
    display: block;
    margin-top: 8px;
    margin-bottom: 32px;
    height: 48px;
    font-size: 20px;
}

.login-button:hover {
    background-color:  #0d7cdd;
}

.signup-button {
    background-color: #42b72a;
    display: block;
    margin-top: 12px;
    margin-bottom: 12px;
    height: 48px;
    width: 200px;
    margin-left: 100px;
    font-size: 18px;   
}

.signup-button:hover {
    background-color: #1ea702;
}

.login-input {
    font-weight: lighter;
    height: 52px;
    font-size: 16px;
    color: #ccd0d5;
    display: inline-block;
    width: 364px;
    border-radius: 6px;
    border-style: unset; 
    border: solid 1px #ccd0d5; 
    margin-bottom: 20px;
    text-indent: 6px;
    // cursor: pointer;
}

#red {
    border-radius: 6px;
    border-style: unset; 
    border: solid 1px; 
    border-color: red; 
}

.errors {
  font-size: 12px;
  color: red;
  margin-bottom: 4px;
  height: 24px;
}



.line {
    background-color:#ccd0d5;
    width: 380px;
    height: 1.34px;
    padding: 4px, white;
}