.login-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #f0f2f5;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 30%;
}

.col-1,
.col-2 {
    height: 100%;
    width: 100%;
    background-color: #f0f2f5;
    justify-content: center;
    // align-items: center;
    // align-content: center;
    display: flex;
}
.col-1 {
    background-color: khaki;
}
.col-2 {
    background-color: lightseagreen;
}


.fb-greeting {
    // margin-left: 10px; 
    // margin: 0 auto;
    justify-content: center;   
    width: 200 px;
    height: min-content;
    display: block;
    background-color: hotpink;
}

.fb-greeting h1 {
    font-size: x-large;
    color: #1c8ef1;
    display: block;
    width: 200px;
}

.fb-greeting p {
    font-size: small;
    display: block;
    width: 200px;

}

.login-form-container {
    border-radius: 6px;
    // margin: 0 auto;
    width: 200px;
    height: min-content;
    background-color: hotpink;
    // top: 30%;
    display: block;
    position: relative;
    border: 2px, solid, #65676b;
    // box-shadow:  #65676b;
    padding: 10px;
    // margin: 10px;
    // position: absolue;
    justify-content: center;
}

.login-form-box {
    display: block;
    border-width: 200px;
    justify-content: center;
}

.login-button,
.signup-button {
    color: white; 
    border-radius: 6px;
    // box-sizing: content-box;
    font-size: 11px;
    justify-content: center;
    padding: 6px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    border: none;
    line-height: 48 px;
    
}

.login-button {
    background-color:  #1c8ef1;
    width: 190px;
    display: block;
    margin-top: 3px;
    margin-bottom: 3px;
}

.signup-button {
    background-color: #42b72a;
    display: block;
    margin-top: 12px;
    margin-bottom: 12px;
    
}

.login-input {
    // margin: 2px;
    // border: #f0f2f5, solid, 1px; 
    // border-radius: 6px;
    font-weight: lighter;
    font-size: 10px;
    color: #65676b;
    display: inline-block;
    width: 190px;
    border-radius: 3px;
    border-style: unset;  
}



.line {
    background-color: #f0f2f5e2;
    width: 190px;
    height: 1px;
    padding: 4px, white;
}