.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 20%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // box-shadow: 3px 3px 10px 1px #ccd0d5;
  width: 100%;
}

.signup-form-container {
  border-radius: 6px;
  font-family: arial;
  background-color: white;
  width: 432px;
  height: min-content;
  padding: 10px;
  display: block;
  position: relative;
  border: 2px, solid, #65676b;
  justify-content: center;
  box-shadow: 3px 3px 10px 1px #ccd0d5;
  // left: 30%;
  top: 0%;
  // position: absolute;
  
  
}
.signup-fullwidth {
  width: 100%;
  display: flex;
  justify-content: center;
  
}

.sign-up-header h1 {
  font-size: 32px;
  margin-bottom: 8px;
  margin-left: 12px;
  margin-top: 8px;
}

.sign-up-header p {
  font-size: 16px;
  color: #65676b;
  margin-bottom: 14px;
  margin-left: 12px;
}
.signup-form-box {
  font-size: 12px;
  color: #ccd0d5;
  display: block;
  justify-content: center;
  border-top: 1px solid #dadde1;
  margin: 12px;
}

// .signup-input {
//   font-weight: lighter;
//   font-size: 16px;
//   background-color: #f5f6f7;
//   color: #050505;
//   display: inline-block;
//   width: 400px;
//   height: 40px;
//   border-radius: 3px;
//   border-style: unset; 
//   border: solid 1px #ccd0d5; 
//   margin-top: 12px;
//   text-indent: 4px;
// }
#error-input {
  border-color: #be4b49;
}

.full-name {
  display: grid;
  width: 400px;
  grid-template-columns: 50% 50%;

  .signup-input {
    width: 194px;
  }
}

input[placeholder="Last name"] {
  margin-left: 6px;
}


.radio {
  font-size: 16px;
  width: 406px;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  margin-top: 8px;
}

// .gender-input {
//   border-radius: 3px;
//   border: solid 1px #ccd0d5; 
//   height: 36px;
//   text-indent: 4px;
//   display: grid;
//   grid-template-columns: 70% 30%;
//   color: #65676b;
//   text-indent: 6px;

//   div,
//   input {
//     margin-top: 10px;
//   }
//   // margin: 4px;
// }

#male,
#day {
  margin-left: 10px;
  margin-right: 10px;
}


.signup-form-box > label {
  font-size: 16px;
}

.gender,
.birthday {
  color: #65676b;
  font-size: 12px;
  margin-top: 10px;
}

.date-wrapper {
  width: 406px;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;

}

// .date {
//   font-weight: lighter;
//   font-size: 16px;
//   background-color: white;
//   color: #65676b;
//   display: inline-block;
//   height: 36px;
//   border-radius: 3px;
//   border-style: unset; 
//   border: solid 1px #ccd0d5; 
//   margin-top: 8px;
//   text-indent: 4px;
// }

.hide {
  display: none;
}
.show {
  display: block;
  position: absolute;
  margin-right: 100px;
  background-color: #BE4B49;
  border-color: #721e1c;
  color: white;
  font-size: 13px;
  height: min-content;
  padding: 16px;
  border-radius: 3px;
  // width: 212px;
  // right: 350px;
  // top: 160px;
  z-index: 400;

  
}
#pw-err {
    width: 264px;
    right: 350px;
    top: 212px;
    div {
      top: 8px;
      left: 296px;
    }
  }

#gender-err {
  width: 146px;
  right: 350px;
  top: 350px;
  div {
    top: 8px;
    left: 178px;
  }
}
#bday-err {
  width: 264px;
  right: 350px;
  top: 276px;
  div {
    top: 8px;
    left: 296px;
  }
}
#fn-err {
  width: 116px;
  right: 350px;
  top: 100px;
  div {
    top: 8px;
    left: 148px;
  }
}
#email-err {
  width: 264px;
  right: 350px;
  top: 150px;
  div {
    top: 8px;
    left: 296px;
  }
}
#ln-err {
  width: 116px;
  left: 451px;
  top: 100px;
  div {
    top: 8px;
    right: 148px;
  }
}

.arrow-right {
  position: absolute;
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  
  border-left: 10px solid #BE4B49;
}

.arrow-left {
  position: absolute;
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  
  border-right:10px solid #BE4B49; 
}

 