.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signup-form-container {
  border-radius: 6px;
  font-family: arial;
  background-color: white;
  width: 200px;
  height: min-content;
  padding: 10px;
  display: block;
  position: relative;
  border: 2px, solid, #65676b;
  justify-content: center;
}

.sign-up-header h1 {
  font-size: 20px;
  margin-bottom: 2px;
}

.sign-up-header p {
  font-size: 10px;
  color: #65676b;
  margin-bottom: 8px;
}
.signup-form-box {
  font-size: 12px;
  color: #ccd0d5;
  display: block;
  justify-content: center;
  border-top: 1px solid #65676b;
}

.signup-input {
  font-weight: lighter;
  font-size: 10px;
  background-color: #f0f2f5;
  color: #ccd0d5;
  display: inline-block;
  width: 190px;
  border-radius: 3px;
  border-style: unset; 
  border: solid 1px #ccd0d5; 
  margin-top: 2px;
}