.main-nav {
	display:flex;
	background-color: white;
	justify-content: space-between;
	border-bottom: 1px solid #f0f2f5;
    font-family: arial;
	height: 56px;
	
}

.left-nav > ul,
.right-nav > ul {
	display: flex;
	align-items: center;
}
.left-nav {
	margin-top: 6px;

	#home-button {
		margin-left: 48px;
		color: #1c8ef1;
		font-size: 28px;
		cursor: pointer;
	}
	#fb-icon-button {
		color: #1c8ef1;
		font-size: 40px;
		cursor: pointer;
	}

}

#search-bar {
	grid-template-columns: 40px 70px;
	border-bottom-left-radius: 18px;
	border-bottom-right-radius: 18px;
	border-top-left-radius: 18px;
	border-top-right-radius: 18px;
	height: 40px;
	width: 240px;
	border-color: none;
	background-color: #f0f2f5;
	color: #ccd0d5;
	width: max-content;
	margin-left: 20px;
}

#search-bar > input {
	border: none;
	margin-top: 10px;
	font-size: 14px;
	font-stretch: semi-expanded;
	background-color: #f0f2f5;
	display: inline-block;
	text-indent: 4px;
}

#search-bar > i {
	margin-left: 10px;
	font-size: 16px;
	color: #65676b;
}

#fb-icon-button {
	margin-left: 20px;
}

.user-profile-button {
	display: grid;
	grid-template-columns: 40px 70px;
	border-bottom-left-radius: 18px;
	border-bottom-right-radius: 18px;
	border-top-left-radius: 18px;
	border-top-right-radius: 18px;
	border-color: white;
	padding: 4px;
	height: 32px;
	cursor: pointer;
	i {
		font-size: 28px;
		margin-top: 2px;
		text-indent: 2px;
		margin-right: 4px;
		color: #ccd0d5;
	}
	.navbar-thumbnail {
		margin-left: 2px;
		width: 30px;
		height: 30px;
		border-radius: 100%;
	}
// will be link not div!!!
	div {
		font-size: 15px;
		margin-top: 8px;
	}
}

.user-profile-button:hover {
	background-color: #f0f2f5;
}

.notifications {
	
	display: flex;
	flex-direction: row;
	height: 54px;
	cursor: pointer;
	color: #ccd0d5;
	margin-left: 8px;
	#bell {
		padding: 8px;
		border-radius: 100%;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	#bell:hover {
		background-color:#f0f2f5;
	}
	
}

.request-count {
	font-size: 10px;
	background-color: #f02949;
	color: white;
	width: 12px;
	height: 12px;
	padding-top: 2px;
	padding-left: 1px;
	padding-right: 1px;
	border-radius: 100%;
	text-align: center;
	margin-left: -10px;
	margin-top: 8px;
}

.notifications:hover .requests-ul {
	display: block;
}

.requests-ul {
	position: absolute;
	display: none;
	top: 54px;
	right: 10px;
	background-color: #fff;
	border: 1px solid #ccd0d5;
	border-radius: 3px;
	padding: 16px;
    height: max-content;
	width: 300px;
	z-index: 1;
	color: #050505;;
	// font-family: arial;
	text-align: left;
    box-shadow: 3px 3px 10px 1px #ccd0d5; 
}
.friend-requests {
	margin-left: 4px;
	margin-bottom: 8px;
	font-size: 24px;
	font-weight: bold;
}

.request-li {
	display: flex;
	flex-direction: row;
	margin: 4px;
	padding-top: 12px; 
	i {
		font-size: 56px;
		cursor: pointer;
		color: #ccd0d5; 
	}
	.requestor-thumbnail {
		cursor: pointer;
		width: 56px;
		height: 56px;
		border-radius: 100%;
	}
}
.request-li-col {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-left: 12px;
}
.requestor {
	// display: flex;
	// flex-direction: row;
	font-size: 15px;
}
.bold-name {
	font-weight: bold;
	cursor: pointer;
}
.bold-name:hover {
	text-decoration: underline;
}

.req-response {
	margin-top: 8px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
}

.accept-req,
.delete-req {
	cursor: pointer;
	width: 80px;
	padding: 12px;
	font-size: 15px;
	border-radius: 6px;
	text-align: center;
}
.accept-req:hover,
.delete-req:hover {
	box-shadow: 1px 1px 1px 1px #ccd0d5;
}
.accept-req {
	background-color: #1878f2;
	color: white;
}
.delete-req {
	background-color: #e4e6eb;
	color: #050505;
}