.all-nf-posts {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.post {
    color: #050505;
    font-size: 15px;
    width: 100%;
    margin-top: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: white; 
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
}
.post-header {
    background: none;
    display: flex;
    flex-direction: row;
    margin-left: 16px;
    margin-right: 16px;
}
.post-header-list {
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 16px;
}
.post-header-left {
    display: flex;
    flex-direction: row;
}
.poster-thumbnail {
    font-size: 38px;
    color: #ccd0d5;
}
.poster-name {
    font-weight: bolder;
    margin-top: 4px;
    margin-left: 8px;
} 
.edit-post-icon {
    i {
        text-align: center;
        cursor: pointer;
        font-size: 24px;
        color: #ccd0d5;
    }
    i:hover {
        color: #65676b;
    }
}
.edit-post-icon:hover .post-options-dropdown {
    display: block;
    
}
.post-options-dropdown {
    display: none;
    background-color: white;
    position: absolute;
    width: 180px;
    border-radius: 6px;
    color: #050505;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
    li {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        border-radius: 6px;
        margin: 6px;
        padding: 4px;
        i {
            color:  #050505;
            font-weight: lighter;
            font-size: 16px;
        }
        p {
            font-weight: lighter;
            margin-left: 8px;
        }
    }
    li:hover {
        background-color:#f0f2f5; 
    }
}
.post-text {
    margin: 16px;
}
.post-pic-div {
    display: flex;
    justify-content: center;
}
.post-pic {
    max-width: 100%;
    margin-bottom: 12px;
    max-height: 574px;
    display: flex;
    text-align: center;
}

.post h1 {
    // height: 60px;
    font-size: 20px;
    text-align: center;
    margin-top: 4px;
    margin-left: 16px;
    margin-right: 16px;
    padding-bottom: 18px;
    margin-bottom: 8px;
    border-bottom: 1px solid #ccced2;
}
.post-form-el {
    display: flex;
    flex-direction: column;
    input[type="text"] {
        border: none;
        outline: none;
        font-size: 24px; 
        color: #050505;
        min-height: 154px;
    }
    input[placeholder="What's on your mind?"]{
        color: #65676b; 
    }
    label {
        height: 52px;
        width: 200px;
        align-self: center;
        margin-left: 16px;
        margin-right: 16px;
        border: 1px solid #ccced2;
        border-radius: 6px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 12px;
        cursor: pointer;

        p {
            margin-left: 12px;
            margin-top: 20px;
            font-size: 15px;
            font-weight: bold;
        }
        i {
            // margin-left: 60px;
            margin-right: 24px;
            margin-top: 16px;
            font-size: 24px;
            color: #45bd62;
        }
    }
    .post-button {
        background-color: #1878f2;
        color: white;
        border-radius: 6px;
        font-size: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 8px;
        cursor: pointer;
    }

}
#close-post-form {
    font-size: 36px;
    color: #e4e6eb;
    position: absolute;
    margin-left: 450px;
    cursor: pointer;

}

