.profile-below {
    display: flex;
    justify-content: center;
}
.smaller-profile-below {
    display: flex;
    flex-direction: row;
    width: 892px;
    justify-content: space-between;
}
.right-profile {
    width: 500px;
}
.left-profile-stuff {
    width: 372px;
    display: flex;
    flex-direction: column;
    
}

